<html xmlns:th="https://www.thymeleaf.org">

<head></head>

<body>
	<div th:fragment="transaction (transactions)">
		<div class="card" th:if="${transactions != null}">
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Absender</th>
							<th scope="col">Verwendungszweck</th>
							<th scope="col">Betrag</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${transactions.empty}">
							<td colspan="3">Es sind keine Transaktionen f&uuml;r
								vorhanden.</td>
						</tr>
						<tr th:each="t : ${transactions}">
							<td><span th:text="${t.fromName}"></span><br /> <span
								class="text-muted font-xs small  text-nowrap"
								th:text="${t.fromAccountNumber}"></span></td>
							<td><span th:text="${t.usage}"></span><br />
							<span class="badge badge-success" th:if="${t.budgetPlan != null}" th:text="${t.budgetPlan.periode}"></span>
							<span class="badge badge-primary" th:if="${t.budgetPlan != null}" th:text="${t.budgetPlan.partner.name}"></span>
							<span class="badge badge-info" th:if="${t.budgetPlan != null}" th:text="${t.budgetPlan.bookingAccount}"></span>
							</td>
							<td align="right"><span
								th:text="${#numbers.formatDecimal(t.value, 1, 'DEFAULT', 2, 'DEFAULT')}"></span>&nbsp;&euro;
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>