<html xmlns:th="https://www.thymeleaf.org">

<head></head>

<body>
	<div th:fragment="content">

		<form action="#" th:action="@{/account/edit}" th:object="${account}" method="post">
			<div class="card">
				<div class="card-header">
					<strong>Horizontal</strong>
				</div>
				<div class=" card-bodycard-block">
					<div class="row form-group">
						<div class="col col-md-3">
							<label for="iban" class=" form-control-label">IBAN</label>
						</div>
						<div class="col-12 col-md-9">
							<input type="text" th:field="*{iban}" placeholder="IBAN..."
								class="form-control"><span class="help-block">Bitte
								IBAN des Kontos eingeben.</span>
						</div>
					</div>
					<div class="row form-group">
						<div class="col col-md-3">
							<label for="name" class=" form-control-label">Name /
								Beschreibung</label>
						</div>
						<div class="col-12 col-md-9">
							<input type="text" th:field="*{name}"
								placeholder="Beschreibung..." class="form-control"><span
								class="help-block">Eine kurze Beschreibung oder ein Name
								des Kontos</span>
						</div>
					</div>
					<input type="hidden" th:field="*{id}">
				</div>
				<div class="card-footer">
					<button type="submit" class="btn btn-primary btn-sm">
						<i class="fa fa-dot-circle-o"></i> Speichern
					</button>
					<button type="reset" class="btn btn-danger btn-sm">
						<i class="fa fa-ban"></i> Reset
					</button>
				</div>
			</div>
		</form>
		
		<div class="card" th:if="${account.transactions != null}">
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">IBAN</th>
							<th scope="col">Absender</th>
							<th scope="col">Verwendungszweck</th>
							<th scope="col">Betrag</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${account.transactions.empty}">
							<td colspan="4">Es sind keine Transaktionen f&uuml;r vorhanden.</td>
						</tr>
						<tr th:each="account : ${account.transactions}">
							<td><span th:text="${account.fromAccountNumber}"></span></td>
							<td><span th:text="${account.fromName}"></span></td>
							<td><span th:text="${account.usage}"></span></td>
							<td align="right"><span th:text="${#numbers.formatDecimal(account.value, 1, 'DEFAULT', 2, 'DEFAULT')}"> &euro;</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</div>
	<div class="breadcrumbs" th:fragment="breadcrumbs">
		<div class="col-sm-4">
			<div class="page-header float-left">
				<div class="page-title">
					<h1>Konto</h1>
				</div>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="page-header float-right">
				<div class="page-title">
					<ol class="breadcrumb text-right">
						<li class="active">Hinzuf&uuml;gen</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</body>
</html>