<html xmlns:th="https://www.thymeleaf.org">

<head></head>

<body>
	<div th:fragment="content">


		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-sm-4">
						<h4 class="card-title mb-0"></h4>
						
					</div>

					<div class="col-sm-8 hidden-sm-down">
						<a th:href="'/plan/add/'"
							class="btn btn-outline-primary float-right"><i
							class="fa fa-magic"></i>&nbsp; Buchungskonto hinzuf&uuml;gen</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Bezeichnung</th>
							<th scope="col">Kontoart</th>
							<th scope="col">Verteilungsschl&uuml;ssel</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${items.empty}">
							<td colspan="3">Es sind keine Buchungskonten vorhanden.</td>
						</tr>
						<tr th:each="account : ${items}">
							<td><a th:href="@{'/account/show/' + ${account.id}}"><span
									th:text="${account.name}"></span></a></td>
							<td><a th:href="@{'/account/show/' + ${account.id}}"><span
									th:text="${account.type.name}"></span></a></td>
							<td><span th:text="${account.distributionkey.name}"></span>
								- <span class="text-muted font-xs small"
								th:text="${account.distributionkey.description}"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="breadcrumbs" th:fragment="breadcrumbs">
		<div class="col-sm-4">
			<div class="page-header float-left">
				<div class="page-title">
					<h1>Buchungskonten</h1>
				</div>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="page-header float-right">
				<div class="page-title">
					<ol class="breadcrumb text-right">
						<li class="active">Liste</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</body>
</html>